body {
	background-color: #ecf0f1;
}

.body-content {
	margin-top: 20px;
}

.about-left li {
	display: inline;
}

.about-left ul {
	list-style-type: none;
	padding: 0;
}



.col-centered {
  float: none;
  margin: 0 auto;
}

.fa {
	color: #3498db;
}

#name {
	font-weight: bold;
	font-size: 2em;
}